<script type='text/javascript'>
	jQuery(document).ready(function() {
		jQuery(".item").mouseover(function() {
			jQuery(this).addClass('onMouseOver');
		});
		jQuery(".item").mouseout(function() {
			jQuery(this).removeClass('onMouseOver');
		});
		if (msg != '') {
			var dlog = art.dialog({id:'id232',time:3,content:msg,title:'提示',icon: 'warning',top:'53%'});
		}
	});
	var webmit = '{{$user.web_quota}}';//{{$quota.web_limit}}在linux下得不到
	if (webmit == '') {
		webmit = 0;
	}
	if (webmit > 0) {
		var web_used = '{{$quota.web_used}}';
		if (web_used == '') {
			web_used = 0;
		}
		var web_use_len = (web_used / webmit) * 100;
		//web_use_len = 30;
		var dbmit = '{{$quota.db_limit}}';
		var db_used = '{{$quota.db_used}}';
		if (db_used == '') {
			db_used = 0;
		}
		if (dbmit == "") {
			dbmit = 0;
		}
		if (dbmit > 0) {
			var db_use_len = (db_used / dbmit) * 100;
		}
		jQuery(document).ready(function() {
			if (web_use_len != null && web_use_len != 'undefined') {
								if (web_use_len < 1) {
									web_use_len = 1;
								}
								if (web_use_len > 100) {
									web_use_len = 100;
								}
								jQuery("#webdd").html("<div class='progress progress-striped progress-xs' title='总大小："
														+ webmit
														+ "M   已使用："
														+ web_use_len.toFixed(2)
														+ "%'><div class='progress-bar progress-bar-info' role='progressbar' style='width:"
														+ web_use_len.toFixed(2)
														+ "%'></div></div>");
							}
							if (db_use_len != null && db_use_len != 'undefined') {
								if (db_use_len < 1) {
									db_use_len = 1;
								}
								if (db_use_len > 100) {
									db_use_len = 100;
								}
								jQuery("#db").html("<div class='progress progress-striped progress-xs' title='总大小："
														+ dbmit
														+ "M   已使用："
														+ db_use_len.toFixed(2)
														+ "%'><div class='progress-bar progress-bar-success' role='progressbar' style='width:"
														+ db_use_len.toFixed(2)
														+ "%'></div></div>");
							}
						});
	}
</script>			  

 <!-- START Menu-->
 <style type="text/css">

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

</style>
               <li>
                  <a href="#" title="基本功能" data-toggle="collapse-next" class="has-submenu">
                     <em class="fa fa-gears"></em>
                     <div class="label label-primary pull-right"></div>
                     <span class="item-text">基本功能</span>                  </a>
                  <!-- START SubMenu item-->
                  <ul class="nav collapse ">
                     <li>
                        <a href="?c=domain&a=show" title="域名绑定" data-toggle="" class="no-submenu">
                           <span class="item-text">域名绑定</span>                        </a>                     </li>
                     <li>
                        <a href="?c=session&a=changePasswordForm" title="密码设置" data-toggle="" class="no-submenu">
                           <span class="item-text">密码设置</span>                        </a>                     </li>
                     <li>
                        <a href="?c=speed&a=speedFrom" title="带宽限制" data-toggle="" class="no-submenu">
                           <span class="item-text">带宽限制</span>                        </a>                     </li>
                     <li>
                        <a href="?c=cache&a=cacheFrom" title="缓存设置" data-toggle="" class="no-submenu">
                           <span class="item-text">缓存设置</span>                        </a>                     </li>
                     <li>
                        <a href="?c=cacheclean&a=cachecleanFrom" title="清除缓存" data-toggle="" class="no-submenu">
                           <span class="item-text">清除缓存</span>                        </a>                     </li>
						   {{if $user.cdn==0}}
                     <li>
                        <a href="?c=info&a=showErrorPage" title="自定义错误页" data-toggle="" class="no-submenu">
                           <span class="item-text">自定义错误页</span>                        </a>                     </li>
                     <li>
                        <a href="?c=response&a=gzipFrom" title="Gzip压缩" data-toggle="" class="no-submenu">
                           <span class="item-text">Gzip压缩</span>                        </a>                     </li>
                     <li>
                        <a href="?c=mime&a=mimeFrom" title="MIME设置" data-toggle="" class="no-submenu">
                           <span class="item-text">MIME设置</span>                        </a>                     </li>
                     <li>
                        <a href="?c=rewrite&a=rewriteFrom" title="域名跳转" data-toggle="" class="no-submenu">
                           <span class="item-text">域名跳转</span>                        </a>                     </li>
                     <li>
                        <a href="?c=indexfile&a=indexfileFrom" title="默认文件" data-toggle="" class="no-submenu">
                           <span class="item-text">默认文件</span>                        </a>                     </li>
                     <li>
                        <a href="javascript:rebootProcess();" title="重启主机" data-toggle="" class="no-submenu">
                           <span class="item-text">重启主机</span>                        </a>                     </li>
						   {{/if}}
                  </ul>
                  <!-- END SubMenu item-->
               </li>
			   {{if $user.cdn==0}}
			   
               <li>
                  <a href="#" title="FTP/文件管理" data-toggle="collapse-next" class="has-submenu">
                     <em class="fa fa-folder-open"></em>

                     <span class="item-text">FTP/文件管理</span>                  </a>
                  <!-- START SubMenu item-->
                  <ul class="nav collapse ">
				  {{if $webftp_url}}
                     <li>
                        <a href="{{$webftp_url}}" title="在线文件管理器" data-toggle="" class="no-submenu">
                           <span class="item-text">在线文件管理器</span>                        </a>                     </li>
				 {{/if}}
                     <li>
                        <a href="?c=shell&a=index" title="数据备份" data-toggle="" class="no-submenu">
                           <span class="item-text">数据备份</span>                        </a>                     </li>
				 {{if $user.ftp>0}}
                     <li>
                        <a href="?c=index&a=ftpForm" title="FTP设置" data-toggle="" class="no-submenu">
                           <span class="item-text">FTP设置</span>                        </a>                     </li>
					{{/if}}
					{{if $ssl}}
                     <li>
                        <a href="?c=index&a=sslForm" title="SSL证书设置" data-toggle="" class="no-submenu">
                           <span class="item-text">SSL证书设置</span>                        </a>                     </li>
					{{/if}}
					{{if $user.ssi}}
                     <li>
                        <a href="?c=ssi&a=show" title="SSI设置" data-toggle="" class="no-submenu">
                           <span class="item-text">SSI设置</span>                        </a>                     </li>
					{{/if}}
                  </ul>
                  <!-- END SubMenu item-->
               </li>
			   
               <li>
                  <a href='http://{{$smarty.server.SERVER_NAME}}:3313/mysql/?pma_username={{$user.db_name}}' target='_blank' title="phpMyAdmin" class="has-submenu">
                     <em class="fa fa-table"></em>
					 <div class="label label-primary pull-right">Mysql</div>
                     <span class="item-text">数据库管理</span>                  </a>
				</li>
               {{/if}}	
			   		   
               <li>
                  <a href="#" title="安全设置" data-toggle="collapse-next" class="has-submenu">
                     <em class="fa fa-shield"></em>
                     <span class="item-text">安全设置</span>                  </a>
                  <!-- START SubMenu item-->
                  <ul class="nav collapse ">
                     <li>
                        <a href="?c=banip&a=addTableFrom" title="禁止IP" data-toggle="" class="no-submenu">
                           <span class="item-text">禁止IP</span>                        </a>                     </li>
                     <li>
                        <a href="?c=protection&a=addProtectionTableFrom" title="防盗链" data-toggle="" class="no-submenu">
                           <span class="item-text">防盗链</span>                        </a>                     </li>
                     <li>
                        <a href="?c=antisql&a=antisqlFrom" title="参数过滤" data-toggle="" class="no-submenu">
                           <span class="item-text">参数过滤</span>                        </a>                     </li>
                     <li>
                        <a href="?c=antiupload&a=antiuploadFrom" title="防木马上传" data-toggle="" class="no-submenu">
                           <span class="item-text">防木马上传</span>                        </a>                     </li>
                     <li>
                        <a href="?c=anticc&a=anticcFrom" title="防CC攻击" data-toggle="" class="no-submenu">
                           <span class="item-text">防CC攻击</span>                        </a>                     </li>
                  </ul>
                  <!-- END SubMenu item-->
               </li>
			   
               <li>
                  <a href="#" title="高级设置" data-toggle="collapse-next" class="has-submenu">
                     <em class="fa fa-edit"></em>
                     <span class="item-text">高级设置</span>                  </a>
                  <!-- START SubMenu item-->
                  <ul class="nav collapse ">
                     <li>
                        <a href="?c=flow&a=viewFlow&t=day" title="流量图" data-toggle="" class="no-submenu">
                           <span class="item-text">流量图</span>                        </a>                     </li>
                     <li>
                        <a href="?c=connection&a=connectionFrom" title="连接信息" data-toggle="" class="no-submenu">
                           <span class="item-text">连接信息</span>                        </a>                     </li>
					{{if $user.cdn==0}}
                     <li>
                        <a href='/vhost/log.php/' target='_blank' title="日志分析" data-toggle="" class="no-submenu">
                           <span class="item-text">日志分析</span>                        </a>                     </li>
                     <li>
                        <a href="?c=capability&a=capabilityFrom" title="性能分析" data-toggle="" class="no-submenu">
                           <span class="item-text">性能分析</span>                        </a>                     </li>
					{{if $user.cron>0}}
                     <li>
                        <a href="?c=cron&a=index" title="计划任务" data-toggle="" class="no-submenu">
                           <div class="label label-primary pull-right">new</div>
                           <span class="item-text">计划任务</span>                        </a>                     </li>
					{{/if}}
                     <li>
                        <a href="?c=httpauth&a=index" title="HTTP认证" data-toggle="" class="no-submenu">
                           <span class="item-text">HTTP认证</span>                        </a>                     </li>
					{{/if}}
                  </ul>
                  <!-- END SubMenu item-->
               </li>
			   
               <!-- END Menu-->
               <!-- Sidebar footer    -->
               <li class="nav-footer">
                  <div class="nav-footer-divider"></div>
                  <!-- START button group-->
                  <div class="btn-group text-center">
                     <a href="?c=session&a=changePasswordForm" data-toggle="tooltip" data-title="密码设置" class="btn btn-link">
                        <em class="fa fa-cog text-muted"></em>                     </a>
                     {{if $smarty.session.login_from=='vhost'}}
                     <a href="?c=session&a=logout" data-toggle="tooltip" data-title="安全退出" class="btn btn-link">
                        <em class="fa fa-sign-out text-muted"></em>                     </a>
						{{/if}}
                  </div>
                  <!-- END button group-->
               </li>
            </ul>
         </nav>
         <!-- END Sidebar (left)-->
      </aside>
      <!-- End aside-->
   <script src="{{$STATIC}}style/2014host/vendor/jquery/jquery.min.js"></script>
   <script src="{{$STATIC}}style/2014host/vendor/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{$STATIC}}style/2014host/app/js/app.js"></script>
   
      <!-- START Main section-->
      <section>
         <!-- START Page content-->
         <section class="main-content">
            <a href="#" class="btn btn-labeled btn-primary pull-right">
               <span class="btn-label"><i class="fa fa-leaf"></i>               </span>教程 & 素材</a>
            <h3>面板首页
               <br><br />
               <small style="font-size:14px;">欢迎回来，{{$user.name}} &nbsp;&nbsp;&nbsp;<a href="?c=session&a=logout" class="label label-pink">安全退出</a></small>          </h3>
            <div class="row">
               <!-- START dashboard main content-->
               <div class="col-md-9">
                  <!-- START summary widgets-->
                  <div class="row">
                     <div class="col-lg-3 col-sm-6">
                        <!-- START widget-->
                        <div class="panel widget">
                           <div class="panel-body bg-purple">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-8">
                                    <p style="font-size:14px;">主机运行状态</p>
                                    <h4 class="m0">{{if $user.status==3}}<div class="point point-danger"></div>数据库超限{{elseif $user.status==2}}<div class="point point-danger"></div>流量超限{{elseif $user.status==1}}<div class="point point-warning"></div>暂停{{else}}<div class="point point-success"></div>正常{{/if}}</h4>
                                 </div>
                                 <div class="col-xs-4 text-center">
                                    <em class="fa fa-power-off fa-2x">                                    </em>                                 </div>
                              </div>
                           </div>
                           <div class="panel-body">
                              <!-- Bar chart-->
                              <div class="text-center">
                                 <p><a href="javascript:rebootProcess();" style="font-size:14px;"><em class="fa fa-refresh"></em>&nbsp; 重启进程</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <!-- START widget-->
                        <div class="panel widget">
                           <div class="panel-body bg-info">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-8">
                                    <p style="font-size:14px;">WEB网页空间</p>
                                    <h4 class="m0">{{$user.web_quota}} M</h4>
                                 </div>
                                 <div class="col-xs-4 text-center">
                                    <em class="fa fa-hdd-o fa-2x"></em>                                 </div>
                              </div>
                           </div>
                           <div class="panel-body" id="webdd">
                              <!-- Bar chart-->
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <!-- START widget-->
                        <div class="panel widget">
                           <div class="panel-body bg-success">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-8">
                                    <p style="font-size:14px;">数据库空间</p>
                                    <h4 class="m0">{{$quota.db_limit}} M</h4>
                                 </div>
                                 <div class="col-xs-4 text-center">
                                    <em class="fa fa-database fa-2x"></em>                                 </div>
                              </div>
                           </div>
                           <div class="panel-body" id="db">
                              <!-- Bar chart-->
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-sm-6">
                        <!-- START widget-->
                        <div class="panel widget">
                           <div class="panel-body bg-green">
                              <div class="row row-table row-flush">
                                 <div class="col-xs-8">
                                    <p style="font-size:14px;">月流量</p>
                                    <h4 class="m0">{{if $user.flow_limit}}{{$user.flow_limit}} G{{else}}不限{{/if}}</h4>
                                 </div>
                                 <div class="col-xs-4 text-center">
                                    <em class="fa fa-exchange fa-2x"></em>                                 </div>
                              </div>
                           </div>
                           <div class="panel-body">
                              <!-- Bar chart-->
                              <div class="text-center">
                                 <p style="font-size:14px;"><b>已用：{{number_format($flow.flow/1024,2)}}M</b></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END summary widgets-->
                  <!-- START chart-->
                  <div class="row">
                     <div class="col-lg-12">
                  <!-- START panel-->
                  <div class="panel panel-default">
                     <div class="panel-heading">功能菜单</div>
                     <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills">
                           <li class="active"><a href="#home-pills" data-toggle="tab">基本功能</a>                           </li>
                           <li><a href="#profile-pills" data-toggle="tab">FTP/文件管理</a>                           </li>
                           <li><a href="#messages-pills" data-toggle="tab">安全设置</a>                           </li>
                           <li><a href="#settings-pills" data-toggle="tab">高级设置</a>                           </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                           <div id="home-pills" class="tab-pane fade in active">
            <br />
						   <div class="col-xs-6 col-sm-3">
						    <a href="?c=domain&a=show">
                              <div class="box-placeholder" align="center"><p class="fa fa-dribbble" style="font-size:20px;"></p><p style="font-size:12px;">域名绑定</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=session&a=changePasswordForm">
                              <div class="box-placeholder" align="center"><p class="fa fa-wrench" style="font-size:20px;"></p><p style="font-size:12px;">修改密码</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=speed&a=speedFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-rocket" style="font-size:20px;"></p><p style="font-size:12px;">带宽限制</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=cache&a=cacheFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-floppy-o" style="font-size:20px;"></p><p style="font-size:12px;">缓存设置</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=cacheclean&a=cachecleanFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-eraser" style="font-size:20px;"></p><p style="font-size:12px;">清除缓存</p></div>
                           </a>
						   </div>
						   {{if $user.cdn==0}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=info&a=showErrorPage">
                              <div class="box-placeholder" align="center"><p class="fa fa-paperclip" style="font-size:20px;"></p><p style="font-size:12px;">自定义错误页</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=response&a=gzipFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-dropbox" style="font-size:20px;"></p><p style="font-size:12px;">Gzip压缩</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=mime&a=mimeFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-magnet" style="font-size:20px;"></p><p style="font-size:12px;">MIME设置</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=indexfile&a=indexfileFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-home" style="font-size:20px;"></p><p style="font-size:12px;">默认文件</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=rewrite&a=rewriteFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-rotate-right" style="font-size:20px;"></p><p style="font-size:12px;">域名跳转</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="javascript:rebootProcess();">
                              <div class="box-placeholder" align="center"><p class="fa fa-refresh" style="font-size:20px;"></p><p style="font-size:12px;">重启进程</p></div>
                           </a>
						   </div>
						   {{if $dbadmin_url}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="{{$dbadmin_url}}" target='_blank'>
                              <div class="box-placeholder" align="center"><p class="fa fa-table" style="font-size:20px;"></p><p style="font-size:12px;">数据库管理</p></div>
                           </a>
						   </div>
						   {{/if}}
						   {{/if}}
                           </div>
						  
                           <div id="profile-pills" class="tab-pane fade">
						   <br />
						   {{if $user.cdn==0}}
						   {{if $webftp_url}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="{{$webftp_url}}">
                              <div class="box-placeholder" align="center"><p class="fa fa-folder-open" style="font-size:20px;"></p><p style="font-size:12px;">在线文件管理器</p></div>
                           </a>
						   </div>
						   {{/if}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=shell&a=index">
                              <div class="box-placeholder" align="center"><p class="fa fa-clipboard" style="font-size:20px;"></p><p style="font-size:12px;">数据备份</p></div>
                           </a>
						   </div>
						   {{if $user.ftp>0}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=index&a=ftpForm">
                              <div class="box-placeholder" align="center"><p class="fa fa-cloud-upload" style="font-size:20px;"></p><p style="font-size:12px;">FTP设置</p></div>
                           </a>
						   </div>
						   {{/if}}
						   {{if $ssl}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=index&a=sslForm">
                              <div class="box-placeholder" align="center"><p class="fa fa-key" style="font-size:20px;"></p><p style="font-size:12px;">SSL证书设置</p></div>
                           </a>
						   </div>
						   {{/if}}
						   {{if $user.ssi}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=ssi&a=show">
                              <div class="box-placeholder" align="center"><p class="fa fa-cog" style="font-size:20px;"></p><p style="font-size:12px;">SSI设置</p></div>
                           </a>
						   </div>
						   {{/if}}
						   {{/if}}
                           </div>
						   
                           <div id="messages-pills" class="tab-pane fade">
						   <br />
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=banip&a=addTableFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-eye-slash" style="font-size:20px;"></p><p style="font-size:12px;">禁止IP访问</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=protection&a=addProtectionTableFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-chain-broken" style="font-size:20px;"></p><p style="font-size:12px;">防盗链</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=antisql&a=antisqlFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-file-text" style="font-size:20px;"></p><p style="font-size:12px;">参数过滤</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=antiupload&a=antiuploadFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-location-arrow" style="font-size:20px;"></p><p style="font-size:12px;">防木马上传</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=anticc&a=anticcFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-bolt" style="font-size:20px;"></p><p style="font-size:12px;">防CC攻击</p></div>
                           </a>
						   </div>
                           </div>
						   
                           <div id="settings-pills" class="tab-pane fade">
						   <br />
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=flow&a=viewFlow&t=day">
                              <div class="box-placeholder" align="center"><p class="fa fa-bar-chart-o" style="font-size:20px;"></p><p style="font-size:12px;">流量图</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=connection&a=connectionFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-chain" style="font-size:20px;"></p><p style="font-size:12px;">连接信息</p></div>
                           </a>
						   </div>
						   {{if $user.cdn==0}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="/vhost/log.php/" target='_blank'>
                              <div class="box-placeholder" align="center"><p class="fa fa-book" style="font-size:20px;"></p><p style="font-size:12px;">日志分析</p></div>
                           </a>
						   </div>
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=capability&a=capabilityFrom">
                              <div class="box-placeholder" align="center"><p class="fa fa-signal" style="font-size:20px;"></p><p style="font-size:12px;">性能分析</p></div>
                           </a>
						   </div>
						   {{if $user.cron>0}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=cron&a=index">
                              <div class="box-placeholder" align="center"><p class="fa fa-clock-o" style="font-size:20px;"></p><p style="font-size:12px;">计划任务</p></div>
                           </a>
						   </div>
						   {{/if}}
                           <div class="col-xs-6 col-sm-3">
						    <a href="?c=httpauth&a=index">
                              <div class="box-placeholder" align="center"><p class="fa fa-check-square-o" style="font-size:20px;"></p><p style="font-size:12px;">HTTP认证</p></div>
                           </a>
						   </div>
						   {{/if}}
                           </div>
                        </div>
                     </div>
                     <!--/.panel-body -->
                  </div>
                  <!-- END panel-->
                     </div>
                  </div>
                  <!-- END chart-->
               </div>
               <!-- END dashboard main content-->
               <!-- START dashboard sidebar-->
               <div class="col-md-3">
                  <!-- START activity-->
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <div class="panel-title">账户主机信息</div>
                     </div>
                     <!-- START list group-->
                     <div class="list-group">
                        <!-- START list group item-->
                        <div class="list-group-item">
                           <div class="media">
                              <div class="media-body clearfix">
                                 <div class="media-heading text-purple m0">FTP链接信息  <a href="index.php?c=index&a=webftp" class="pull-right label label-purple">在线文件管理器</a></div>
                                 <p class="m0">
                                    {{if $user.cdn==0}}<small>FTP地址：{{$smarty.server.SERVER_NAME}}</small><br><small>FTP端口：21</small><br><small>FTP用户名：{{$user.name}}</small><br><small>FTP密码：[ <a href="?c=session&amp;a=changePasswordForm" data-perform="panel-collapse" data-toggle="tooltip" title="同面板登录密码，在会员中心-产品管理页进行FTP密码修改" target="_blank">查看/修改</a> ]</small>     {{/if}} </p>
                                           </div>
                           </div>
                        </div>
                        <!-- END list group item-->
                        <!-- START list group item-->
                        <div class="list-group-item">
                           <div class="media">
                              <div class="media-body clearfix">
                                 <div class="media-heading text-info m0">数据库链接信息  <a href="http://{{$smarty.server.SERVER_NAME}}:3313/mysql/?pma_username={{$user.db_name}}" target='_blank' class="pull-right label label-info">phpMyAdmin</a></div>
                                 <p class="m0">
                                    {{if $user.cdn==0}}{{if $quota.db_limit}}{{if $user.db_type!='sqlsrv'}}<small>数据库地址：{{$node.db_host}}</small><br><small>数据库端口：{{$node.db_port}}</small>{{/if}}<br><small>数据库名：{{$user.db_name}}</small><br /><small>数据库用户名：{{$user.db_name}}</small><br /><small>数据库密码：[ <a href="?c=session&amp;a=changePasswordForm" data-perform="panel-collapse" data-toggle="tooltip" title="初始密码同FTP/面板登录密码，可单独设置修改。">修改密码</a> ]</small>{{/if}}{{/if}}                                </p>
                                       </div>
                           </div>
                        </div>
                        <!-- END list group item-->
                        <!-- START list group item-->
                        <div class="list-group-item">
                           <div class="media">
                              <div class="media-body clearfix">
                                 <div class="media-heading text-success m0">主机参数信息</div>
                                 <p class="m0">
                                    <small>绑定域名限制：{{if $user.domain==-1}}不限{{else}}{{$user.domain}}个{{/if}}</small><br /><small>最大连接数：{{if $user.max_connect==0}}不限{{else}}{{$user.max_connect}}{{/if}}</small><br /><small>带宽限制：{{if $user.speed_limit==0}}不限{{else}}{{$user.speed_limit/1024}}KB{{/if}}</small><br /><small>缓存命中率：{{if $flow.flow>0}}{{number_format($flow.flow_cache*100/$flow.flow,2)}}%{{else}}0%{{/if}}</small><br /> {{if $user.cdn==0}}<small>主机语言：{{if $user.module}}{{$user.module}}{{else}}{{$user.templete}}:{{$user.subtemplete}}{{/if}}</small><br /><small>
                                    <form name='frm' action='?c=index&a=changeSubtemplete' method='post'>
			<select name='subtemplete' onChange='frm.submit()'>
				<option value=''>--请选择版本--</option>
				{{foreach from=$subtempletes item=subtemplete}}
				<option value='{{$subtemplete}}'{{if $subtemplete==$user.subtemplete}}selected{{/if}}>{{$subtemplete}}</option>
				{{/foreach}}
			</select>
			</form>
			{{/if}}</small><br />
			{{if $module_link}}<small>
			{{$module_link}}
			</small>{{/if}}                                </p>
                                                           </div>
                           </div>
                        </div>
                        <!-- END list group item-->
                     </div>
                     <!-- END list group-->
                     <!-- START panel footer-->
                     <div class="panel-footer clearfix">
                           </div>
                     <!-- END panel-footer-->
                  </div>
               </div>
               <!-- END dashboard sidebar-->
            </div>
         </section>
         <!-- END Page content-->
      </section>
      <!-- END Main section-->