<style>

.group_name {

	background-image: url(/style/bg3.gif);

	height:26px;

	font-size:16;

	padding-top:7px;

	padding-left:5px;

	font-weight:bold;

}

.nproduct_list {

	padding-left:15px;

	padding-top:8px;

	font-size:14;

}

.nproduct_hr {

	color:#fff;

	height:1px;

}

</style>

<!-- Additional Stylesheets -->
<style type="text/css">
<!--
.STYLE1 {color: #FFFFFF}
-->
</style>
    

<div id="main">
        	<!-- **Breadcrumb Section** -->
            <div class="breadcrumb-section">
                  <div class="container">
	                   <h1>购物车</h1>
                      <div class="breadcrumb">
                      	<a href="/" title="">首页</a> / <span>产品服务</span>
                      </div>
                  </div>
            </div> <!-- **Breadcrumb Section Ends** -->
		
			            <!-- **Content Main** -->
            	<!-- **Primary** -->
				<div class="fullwidth-section dt-sc-parallax">
                        	<div class="container">
						<div style="height:45px"></div>
								<!-- 主体表格开始 -->
                        <div class="aligncenter call-out">
						<p>
		{{if $nproducts}}
          {{foreach from=$groups item=row}}
          <a href='?c=nproduct&amp;a=lists&amp;group_id={{$row.group_id}}' class="dt-sc-button  medium  ocean"><i class="fa  fa-database"></i>&nbsp;  {{$row.group_name}}</a>&nbsp; 
          {{/foreach}}
          {{/if}}
						</p>
                         </div>
                                <!-- 主体表格结束 -->
                            </div>
  </div>
</div>


<p></p>

{{if $nproducts}}
	{{foreach from=$groups item=row}}
		<div class='group_name'>{{$row.group_name}}</div>
		{{for $j=0;$j< count($nproducts);$j++}}

			{{if $nproducts[$j].group_id==$row.group_id}}

				<div class='nproduct_list'><a href='?c=product&a=sellForm&product=n_{{$nproducts[$j].id}}'>{{$nproducts[$j].name}}</a></div>

				<hr class='nproduct_hr'>

			{{/if}}
		{{/for}}
	{{/foreach}}
{{/if}}